<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
  <appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
    
     <RollingRandomAccessFile name="RollingRandomAccessFileDebug" fileName="${sys:catalina.home}/logs/deep_sync_log.log"
                                 filePattern="logs/$${date:yyyy-MM}/etl-%d{MM-dd-yyyy}-%i.log.gz"
                               >
            <PatternLayout>
              <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
        </RollingRandomAccessFile>
    
  </appenders>
  <loggers>
    <root level="DEBUG">
      <appender-ref ref="Console"/>
      <appender-ref ref="RollingRandomAccessFileDebug" level="DEBUG"/>
    </root>
  </loggers>
</configuration>